.alert-box {
  position: fixed;
  top: 50%;
  background-color: cyan;
  font-family: 'Montserrat';
  width: 20%;
  text-align: center;
  padding: 20px;
  animation-name: fade-in;
  animation-duration: 1s;
  border-radius: 5px;
  margin-left: 5px;
}
@keyframes fade-in {
  from {
    transform: translateX(-100%);
  }
}
