@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&family=Montserrat&family=JetBrains+Mono:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #007cc7;
}

/*Button Styless */
.aws-btn {
  --button-default-height: 35px;

  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #007cc7;
  --button-primary-color-dark: #06507f;
  --button-primary-color-light: #fafafa;
  --button-primary-color-hover: #148fdb;
  --button-primary-border: none;
  --button-secondary-color: #fafafa;
  --button-secondary-color-dark: #06507f;
  --button-secondary-color-light: #007cc7;
  --button-secondary-color-hover: #dadada;
  --button-secondary-border: 2px solid #007cc7;
  --button-anchor-color: #f3c8ad;
  --button-anchor-color-dark: #734922;
  --button-anchor-color-light: #4c3016;
  --button-anchor-color-hover: #f1bfa0;
  --button-anchor-border: 1px solid #8c633c;
}
